/* 전체 바디 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color:  #ffffff; /* web 자체의 색상 */
  color: #333;  /* body에서 사용되는 글씨체 색상 */
  margin: 0;
  padding: 0;
}
/* 컨테이너 스타일 */
.container {
  margin: 2em;
  padding: 2em;
  background: #ffffff;
  border-radius: 0px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  position: relative; /* .container를 기준으로 자식 요소의 절대 위치를 설정 */
}
/* 제목과 부제목 설정 */
.header {
  text-align: left;
  font-size: 20px;
  margin-bottom: 2em;
}
.title {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0.2em;
}


/* 커리큘럼 내용 작성 */
.rectangle {
  /* Flexbox와 flex-wrap 설정을 통해, 열단위로 배치. */
  display: flex;        
  flex-wrap: nowrap; 
  background: #ffffff;
  width: 700px;
  height: 40px;
  color: #ffffff;
  white-space: nowrap;
  flex-wrap: nowrap; 
}
/* .rect1, .rect2, .rect3 */
.rect1, .rect2, .rect3 {
  display: flex;           /* flexbox 컨테이너로 설정 */
  flex-direction: row;     /* 가로로 배치 (수평으로 배치됨) */
  align-items: center;     /* 아이템을 수직 중앙 정렬 */
}
.rect1 {
  background: #0362a2;  /* 파란색 배경 */
  width: 270px;          /* 너비 */
}
.rect2 {
  background: #a60cb0;  /* 보라색 배경 */
  width: 250px;          /* 너비 */
}
.rect3 {
  background: #20007e;  /* 어두운 보라색 배경 */
  width: 180px;          /* 너비 */
}

.rectangle- {
  /* Flexbox와 flex-wrap 설정을 통해, 열단위로 배치. */
  display: flex;        
  flex-wrap: nowrap; 
  background: #ffffff;
  width: 700px;
  height: 260px;
  color: #ffffff;
  white-space: nowrap;
  flex-wrap: nowrap; 
}
/* PHASE Step */
.rect1-, .rect2-, .rect3- {
  height: 260px;    /* 각 사각형의 높이를 설정 */
}
.rect1- {
  background: #ffffff;  /* 파란색 배경 */
  width: 270px;          /* 너비 */
}
.rect2- {
  background: #ffffff;  /* 파란색 배경 */
  width: 250px;          /* 너비 */
}
.rect3- {
  background: #ffffff;  /* 파란색 배경 */
  width: 180px;          /* 너비 */
}
/* .size-12 클래스 정의 */
.size-12 {
  font-size: 12px;
}
/* .clickable 링크 스타일 */
a.clickable {
  text-decoration: none; /* 링크의 기본 밑줄 제거 */
  color: #000000; 
}
.text {
  text-align: center;      /* 가로 중앙 정렬 */
  height: 55px;    
  color: #040404; 
  font-size: 20px;       
}


/* 모바일에서 비율과 너비 조정 */
@media (max-width: 768px) {
  .body, .head {
    width: 70%; 
    aspect-ratio: 4 / 1; /* 비율 유지 */
  }
}


/*  */
/* 메뉴 스타일 */
.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2em;
}
.menu-item {
  margin: 1em;
  flex: 1 1 auto; /* 각 메뉴 항목이 적당히 크기를 조정 */
}
.menu-item a button {
  font-size: 1.2em;
  padding: 0.7em 2em;
  cursor: pointer;
  background-color: #f7f7f7;
  color: rgb(12, 12, 12);
  border: none;
  transition: background-color 0.3s, transform 0.3s;
}

.menu-item a button:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transform: translateY(-2px);
}
